@model Biuro_Podrozy.Models.Book
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Dziękujemy za rezerwacje @Model.First_Name!</h1>
Wkrótce z tobą się skontaktujemy w celu uzyskania dalszych informacji i rejestracji pozostałych osób.<br />
Jeśli chcesz zrezygnować z rezerwacji lub uzyskać pomoc skontaktuj się z nami.

<p>Infolinia: +48 000 000 000</p>
<p>E-mail xxx@xxx.pl </p>