@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Zarządzanie biurem</h1>
<a class="btn btn-primary" asp-action="AddForm" asp-controller="Biuro">Dodaj ofertę</a>
<a class="btn btn-primary" asp-action="BiuroList" asp-controller="Biuro">Lista wpisów</a>