@model Biuro_Podrozy.Models.LoginModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Panel Użytkownika";
}

Witaj! Twoje narzędzia:
<br />

<div class="m-2">
    <h2>Podróże</h2>
    <a class="btn btn-primary" asp-action="AddForm" asp-controller="Biuro">Dodaj ofertę</a>
    <a class="btn btn-primary" asp-action="BiuroListAdmin" asp-controller="Biuro">Zarządzaj biurem</a>
</div>

<div class="m-2">
    <h2>Wyloty</h2>
    <a class="btn btn-primary" asp-action="AddFormDep" asp-controller="Biuro">Dodaj miasto</a>
    <a class="btn btn-primary" asp-action="DepartureList" asp-controller="Biuro">Zarządzaj miastami</a>
</div>

<div class="m-2">
    <h2>Zdjęcia</h2>
    <a class="btn btn-primary" asp-action="AddFormPhot" asp-controller="Biuro">Dodaj zdjęcie</a>
    <a class="btn btn-primary" asp-action="PhotoList" asp-controller="Biuro">Zarządzaj zdjęciami</a>

</div class="m-2">

<div class="m-2">
    <h2>Rezerwacje</h2>
    <a class="btn btn-primary" asp-action="BookList" asp-controller="Biuro">Zarządzaj rezerwacjami</a>

</div>

<br />
<br />
<form asp-action="Logout" asp-controller="Account" method="post">
    <button class="btn btn-primary" type="submit">Wyloguj Się</button>
</form>
